.offers-container {
    margin-top: 80px;
    background-image: url('../../assets/offer.jpg');
    background-position: calc(10%);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}
.offers-header {
    color: white;
    font-weight: 700;
    border-bottom: 3px solid white;
    width: 30%;
    font-size: 30px;
    display: block;
    margin: auto;
    margin-bottom: 40px;
    text-align: center;
}
@media only screen and (max-width: 575px) {
    .offers-header {
        width: 60%;
        font-size: 20px;
    }   
}